* {
  background-color: #7a526e;
}

#splash {
  background-color: #f5ff66;
  color: white;
  font-size: 10px;
  width: 500px;
  position: fixed;
  left: 25%;
  top: 100px;
}

#leaderboard {
  text-align: center;
  color: white;
  width: 300px;
  border: 2px solid white;
  left: 25%;
  top: 400px;
}
